.container {
  display: flex;
}

.players-hand {
  display: flex;
  flex-wrap: wrap;
}

.player-hand {
  padding: 2em;
}

.select-game-mode {
  margin: auto;
  text-align: center;
  padding: 2em;
}

.waiting-game-started {
  margin: auto;
  text-align: center;
  padding: 6em;
}

.players-joining {
  background: radial-gradient(ellipse at top, #444, transparent), radial-gradient(ellipse at bottom, #777, transparent);
  display: flex;
}

.players-joined {
  width: 20%;
  border-right: solid 2px #333;
}
