body {
  background-color: #eee;
  text-color: 222;
}

.hidden {
  display: none;
}

.center {
  display: flex;
  justify-content: center;
}

.name input {
  border-radius: 8px;
}

.header {
	 background-color: #ffe;
	 padding: 8px;
	 }

.profile {
  background-color: #ddd;
  padding: 1px 5px;
}

.profile div {
  display: flex;
  justify-content: space-between;
}

.profile div .greeting {
  text-color: #333;
}

.profile div .logout {

}

.tile {
  width: 128px;
  height: 128px;
  background-color: #333300;
  display: table;
  color: white;
  border: solid 8px #744;
  position: relative;
}

.tile-background {
  background-image: url(/images/tile_background.jpg);
}

.tile-background-1 {
  background-image: url(/images/tile_1.png);
}

.tile-background-2 {
  background-image: url(/images/tile_2.png);
}

.tile-background-3 {
  background-image: url(/images/tile_3.png);
}

.select-game-mode {
  margin: auto;
  text-align: center;
  padding: 2em;
}

.waiting-game-started {
  margin: auto;
  text-align: center;
  padding: 6em;
}

.players-joining {
  background: radial-gradient(ellipse at top, #444, transparent), radial-gradient(ellipse at bottom, #777, transparent);
  display: flex;
}

.players-joined {
  width: 20%;
  border-right: solid 2px #333;
}

.avatar {
  border-radius: 50%;
  width: 64px;
  height: 64px;
  background-color: #ddd;
  text-align: center;
  margin-left: 35%;
}

.player {
  width: 64px;
  height: 64px;
  line-height: 64px;
  border-radius: 50%;
  font-size: 32px;
  text-align: center;
}

.player-1 {
  background: #444;
  color: #eee;
}

.player-2 {
  background: #4b4;
  color: #eee;
}

.player-3 {
  background: #b44;
  color: #eee;
}

.player-4 {
  background: #44b;
  color: #eee;
}

.end-position {
  width: 32px;
  height: 32px;
  background-image: url(/images/star.png)
}

div.board-row {
  display: flex;
}

.board-container {
  width:100%;
  display: flex;
  justify-content: center;
}

.action {
  position: absolute;
}

.action-active {
  cursor: pointer;
}

.action-move-north {
  width: 0;
  height: 0;
  border-left: 16px solid transparent;
  border-right: 16px solid transparent;
  border-bottom: 32px solid #bbe;
  right: 35%;
}

.action-move-east {
  width: 0;
  height: 0;
  border-top: 16px solid transparent;
  border-left: 32px solid #bbe;
  border-bottom: 16px solid transparent;
  right: 0;
  top: 40%;
}

.action-move-south {
  width: 0;
  height: 0;
  border-left: 16px solid transparent;
  border-right: 16px solid transparent;
  border-top: 32px solid #bbe;
  bottom: 0;
  right: 40%;
}

.action-move-west {
  width: 0;
  height: 0;
  border-top: 16px solid transparent;
  border-right: 32px solid #bbe;
  border-bottom: 16px solid transparent;
  top: 35%;
  left: 0;
}
            
.action-rotate-left {
  width: 0;
  height: 0;
  border-top: 16px solid transparent;
  border-left: 16px solid #bbf;
  transform: rotate(10deg);

  &:after {
    content: "";
    position: absolute;
    border: 0 solid transparent;
    border-left: 5px solid #bbf;
    border-radius: 20px 0 0 0;
    top: -12px;
    left: -9px;
    width: 16px;
    height: 12px;
    transform: rotate(45deg);
  }
}
            
.action-rotate-right {
  width: 0;
  height: 0;
  border-top: 16px solid transparent;
  border-right: 16px solid #bbf;
  transform: rotate(10deg);
  right: 10px;
  bottom: 13px;

  &:after {
    content: "";
    position: absolute;
    border: 0 solid transparent;
    border-top: 5px solid #bbf;
    border-radius: 20px 0 0 0;
    top: -16px;
    left: -8px;
    width: 16px;
    height: 12px;
    transform: rotate(45deg);
  }
}
