<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="color-scheme" content="light dark" />
    <!-- Centered viewport --> 
    <link
    rel="stylesheet"
    href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.classless.min.css"/>
    <title>AREX (alpha)</title>
  </head>

  <body>
    <main>
      <nav>
        <ul><li><a href="/">AREX</a></li></ul>
        <ul>
          <li><a href="/blog">Blog</a></li>
          <li><a href="/demo">Demo</a></li>
          <li><a href="https://gitlab.com/fpischedda/mazeboard">Sources</a></li>
        </ul>
      </nav>
    </main>
    <main>
      {% block content %} {% endblock %}
    </main>
  </body>
</html>
