{% extends "base.html" %}

{% block content %}
<div class="container">
  <h2>
    {{page.title}}
  </h2>
  <h4>
    by FPSD — {{page.date}}
  </h4>
  <hr/>
  {{ page.content | safe }}
</div>
{% endblock %}

